// BATERIAS
// Seccion Paneles solares
.placasolar1{
    margin-top: 4vh;
    text-align: center;
    color: black;
    @media only screen and (max-width:480px){
        width: 100%;
    }
    p{
        width: 69vw;
        margin: 1vh auto;
        background-color: rgba(255, 246, 246, 0.309);
        font-size: 1.3em;
        border-radius: 10px;
        font-weight: bold;
        box-shadow: 0 40px 60px -6px black;
        padding: 2vh 2vw;
        @media only screen and (min-width:480px) and (max-width:780px){
            font-size: 0.8em;
        } 
        @media only screen and (max-width:480px){
            width: 100vw;
            font-size: 1em;
            margin-bottom: 4vh;
        }
    }
}

// Tipos de baterias
@import "../partials/panelessolares"


  
