*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Barlow', sans-serif;
    user-select: none;
    scroll-behavior: smooth;
    background-image: url("../imagenes/fondotablas.webp") ;
}