@import "../abstract/transform";

@mixin formulario{
    #contact {
        width: 500px;
        margin: 2em auto;
        background: white;
        position: relative;
        &::after {
            content: "";
            display: block;
            height: 30px;
            width: 90%;
            left: 5%;
            bottom: 0;
            position: absolute;
            box-shadow: 0px 10px 13px -7px #000000, 5px 5px 11px 5px rgba(0,0,0,0.36);
            border-radius: 100%;
            z-index: -1;
        }

    }
    .contactbutton {
        background-image: url("../imagenes/tablamadera2.webp");
        box-shadow: 0px 10px 13px -7px #000000, 5px 5px 11px 5px rgba(0,0,0,0.36);
        border: 2px solid black;
        text-align: center;
        display: block;
        width: 60%;
        height: 50px;
        margin: 2vh auto;
        cursor: pointer;
        &:hover {
            box-shadow: 0px 10px 13px -7px #000000, 5px 5px 11px 5px rgba(0,0,0,0.36);
            opacity: 80%;
        }
        @media only screen and (max-width:540px) {
            width: 50%;
            height: 7vh;
        }

    }
    .mail {
        margin-top: 11px;
        font-size: 15px;
        display: inline-block;
        border-top: 2em solid transparent;
        border-left: 2.6em solid white;
        height: 0;
        width: 0;
        position: relative;
        &:before {
            content: '';
            top: -2.5em;
            left: -2.95em;
            display: block;
            position: absolute;
            border-top: 1.2em solid white;
            border-left: 1.6em solid transparent;
            border-right: 1.6em solid transparent;
            border-bottom: 1em solid transparent;
            font-size: 0.8em;
        }
        &::after {
            display: block;
            content: "";
            position: absolute;
            border-top: 2em solid transparent;
            border-right: 2.6em solid white;
            height: 0;
            width: 0;
            left: -2.18em;
            bottom: 0;
        }
        @media only screen and (max-width:540px) {
            margin-top: 10px;
            font-size: 0.7em;
        }
    }
    #checkcontact {
        position: absolute;
        left: -9999px;
        &:checked {
            + {
                .contactform {
                    max-height: 1000px;
                }
            }
        }
    }
    .contactform {
        overflow: hidden;
        max-height: 0px;
        transition: all linear 1s;
    }
    .input_wrapper {
        position: relative;
        input[type="text"] {
            margin-top: 1em;
            display: block;
            width: 100%;
            background: white;
            border: 1px solid #DADADA;
            box-shadow: 0 0 1px 0 #E4E4E4;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 1em;
            transition:all 240ms ease; 
            color: #5E5E5E;
            text-indent: 15%;
            &:focus {
                background: rgba(242, 56, 90, 0.05);
                box-shadow: 0px 10px 13px -7px #000000, 5px 5px 11px 5px rgba(0,0,0,0.36);
                outline: none;
                text-indent: 0;
                + {
                    label {
                        left: 85%;
                    }
                }
            }
        }
        label {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            background-image: url(https://i.ibb.co/p2z0rvd/tablamadera2.png);
            color: white;
            font-family: Oswald ,sans-serif;
            box-sizing: border-box;
            width: 15%;
            text-align: center;
            line-height: 2.8em;
            transition: all 250ms ease;
            @media only screen and (max-width:480px) {
            font-size: 0.6em;
            }
        }
    }
    .textarea_wrapper {
        textarea {
            margin-top: 20px;
            display: block;
            width: 100%;
            background: white;
            border: 1px solid #DADADA;
            box-shadow: 0 0 1px 0 #E4E4E4;
            box-sizing: border-box;
            padding: 1em;
            transition: all 250ms ease;
            color: #5E5E5E;
            margin-top: 20px;
            display: block;
            width: 100%;
            min-height: 150px;
            background: white;
            border: 1px solid #DADADA;
            box-shadow: 0 0 1px 0 #E4E4E4;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 1em;
            box-shadow: 0px 10px 13px -7px #000000, 5px 5px 11px 5px rgba(0,0,0,0.36);
            transition: all 250ms ease;
            color: #5E5E5E;
            &:focus {
                background: rgba(242, 56, 90, 0.05);
                box-shadow: inset 2px 2px 5px 0 #DADADA;
                outline: none;
            }
        }
    }
    .submit_wrapper {
        text-align: center;
        margin-bottom: 3vh;
        input {
            text-align: center;
            display: inline-block;
            width: 40%;
            height: 50px;
            margin-top: 1em;
            margin-bottom: 6px;
            cursor: pointer;
            background-image: url(https://i.ibb.co/p2z0rvd/tablamadera2.png);
            color: white;
            font-size: 1em;
            border: none;
            box-shadow: 0px 10px 13px -7px #000000, 5px 5px 11px 5px rgba(0,0,0,0.36);
            -webkit-appearance: none;
            transition: all 250ms ease;
            &:hover {
                opacity: 80%;
                margin-top: 22px;
                margin-left: 2px;
                margin-bottom: 0px;
            }
            @media (max-width: 350px) {
                width: 35%;
                height: 35px;
                font-size: 0.7em;
            }
        }
    }
    @media (max-width: 500px) {
        #contact {
            width: 100%;
        }
        .input_wrapper {
            label {
                line-height: 3.5em;
                font-size: 0.8em;
                width: 30%;
            }
        }
    }
}